.wrap {
    text-align: center;
}

.wrap .itemTodo {
    padding: 15px;
    width: 250px;
    margin: 0 auto;
    text-align: left;
    margin-top: 15px;
    background: linear-gradient(90deg,
            rgb(235, 146, 94) 0%,
           coral 100%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.wrap .itemSimple {
    display: inline-block;
}

.wrap .itemCrossOut {
    display: inline-block;
    text-decoration: line-through;
}


.wrap .itemRemove {
    display: inline-block;
    cursor: pointer;
    right: 100%;
    float: right;
    font-size: 22px;
    position: relative;
    left: -4px;
    bottom: 5px;
}

.wrap input {
    padding: 14px 40px 14px 20px;
    border-radius: 4px 0 0 4px;
    border: 2px solid lightcoral;
    outline: none;
    background: transparent;
}

.wrap button {
    padding: 16px 7px;
    border-radius: 0 4px 4px 0;
    border: none;
    cursor: pointer;
    color: white;
    background-color: coral;
}